<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatApp.Properties.Settings>
            <setting name="Resource" serializeAs="String">
                <value>Work</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5222</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FriendOnlinePlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FriendOnlineShowNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncomingMessagePlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncomingMessageShowNotification" serializeAs="String">
                <value>False</value>
            </setting>
        </ChatApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatApp.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>ChatApp</value>
            </setting>
        </ChatApp.Properties.Settings>
    </applicationSettings>
</configuration>